.navigation-clean.navbar-inverse .navbar-brand:hover {
  color:#f0f0f0;
}
.navigation-clean .navbar-brand {
  font-weight:bold;
  color:inherit;
  font-family:'Audiowide';
  text-transform:uppercase;
}
.navbar.navbar-default.navigation-clean {
  background-color:#ffffff;
  border-bottom:7px solid #2669b0;
  box-shadow:0px 0px 10px #ccc;
}
.navbar-brand.navbar-link{
  height: 100%;
  padding: 0;
  padding-top: 3px;
  padding-left: 30px;
}

.nav.navbar-nav.navbar-right li{
  transition-duration: 1s;
}

.nav.navbar-nav.navbar-right li:hover{
  background-color: #f2f2f2;
}

.navbar-brand.navbar-link img{
  height:35px;
  display:inline-block;
}

body {
  /*background-color:#f2f2f2;*/
  background-color: #e3eaf0;
}

p {
  color:#666;
}

.navbar-margin {
  margin-top:40px;
}

.navbar.navbar-inverse.navbar-fixed-top.navigation-clean {
  border-bottom:5px solid #fff;
  box-shadow:0px 2px 10px #555;
  background-color:#ffffff;
  border-bottom:7px solid #2669b0;
  box-shadow:0px 0px 10px #ccc;
}

.jumbotron-background{
  background-repeat:no-repeat;
  background-size:cover;
  background-color:#2799d6;
  background-image:url(/img/water2.jpg);
  /*border-bottom:5px solid #fff;*/
}

.jumbotron{
  background-repeat:no-repeat;
  background-size:cover;
  background-color:#2799d6;
  background-image:url(/img/water.jpg);
  padding-top:100px;
  padding-bottom:100px;
  margin-bottom:0px;
}

@media (max-width: 768px) {
  .jumbotron-background .container{
    width: 100%;
    padding: 0;
  }
}

.jumbotron .btn-info{
  background-color: #f18e4c;
}

.jumbotron h1{
  color:#fff;
  font-family:'Audiowide';
  text-transform:uppercase;
  font-size: 60px;
}

.jumbotron p {
  color:#eee;
}

.projects-horizontal{
  padding-top: 30px;
  padding-bottom: 30px;
}


.panel-heading__border-white{
  background-color: #2669b0;
  height: 42px;
  width: 3px;
  position: absolute;
  top: 0;
  left: 0;
}

.panel-group .panel{
  position: relative;
  border-radius: 2px;
}


.panel-group .panel + .panel {
  margin-top:8px;
}

.panel-default>.panel-heading,
.panel-heading-styles {
  padding-left:60px;
  padding-bottom:12px;
  padding-top:12px;
  background-color: #6d859e;
  border-radius: 2px;
}

.accordeon-background .panel-default>.panel-heading,
.accordeon-background .panel-heading-styles {
  padding-left:60px;
  padding-bottom:12px;
  padding-top:12px;
  background-color: #6d859e;
  border-radius: 2px;
}

.panel-group{
  margin:0px;
  margin-top:15px;
  margin-bottom:15px;
}

.panel-body{
  padding: 30px 50px 20px 60px;
  background-color: #fff;
}

.accordeon-background .panel-body{
  padding: 30px 50px 20px 60px;
  background-color: #f2f2f2;
}

.panel-body i{
  color: #999;
  display: block;
}

#accordion-1 .panel-body a,
#accordion-1 .panel-body ul{
  color: #666;
}

#accordion-2 .panel-body i {
  color: #888;
  display: block;
}

#accordion-1 i {
  margin-right:5px;
}

#projects-horizontal{
  position: relative;
  top: -100px;
}

.projects-horizontal .panel-body{
    padding: 20px 50px 10px 15px;
}

.projects-horizontal .item{
  cursor: default;
  padding-top: 60px;
}

.projects-horizontal .panel{
  margin-top: 0;
  margin-left: -15px;
  margin-right: -15px;
  box-shadow: none;
}

.projects-horizontal .panel-group{
  margin: 0px;
}

/*.panel-title{
  color: #444;
}*/

.projects-horizontal .panel-collapse.collapse.in{
  border-top: 1px solid  #eee;
}

.projects-horizontal__item1 .img-responsive{
  transition-duration: 0.5s;
  transition-delay: 0.2s;
}

.item1:hover .projects-horizontal__item1 .img-responsive{
  border-radius: 3px;
  transform: scale(1.04);
}

.projects-horizontal__item1{
  transition-duration: 0.5s;
  padding: 15px 0;
}

.projects-horizontal .item .name{
  display: inline-block;
}

.item1:hover .projects-horizontal__item1{
    background-color: #eee;
    border-radius: 3px;
}

.projects-horizontal .img-responsive {
  border-radius: 2px;
  /*border:1px solid #2669b0;*/
  border-right:4px solid #2669b0;
  background-size:contain;
  height:162px;
  /*ratio:5:3*/
  width:100%;
}

#accordion-5{
  padding-left: 45px;
}

#accordion-6{
  padding-right: 45px;
}

.accordeon-background{
  background-color: #fff;
  padding: 20px 0 20px 0;
}

.header{
  background-image: url(/img/water3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #2669b0;
  height: 48px;
}

.header h3{
  margin: 0;
  padding: 10px 0 0 60px;
}

/*.header-weiteres{
  margin-bottom: 10px;
}*/

/*.header-foto{
  margin-top: 120px;
}*/

.simple-slider{
  padding: 40px 60px;
  background-color: #fff;
  /*margin-bottom: 35px;*/
}

.simple-slider__img{
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.brands a img {
  display:inline-block;
  margin:10px 20px;
  text-align:left;
  vertical-align:middle;
}

.brands {
  padding:10px;
  text-align:left;
  color:#313437;
  background-color:#27588d;
}

.brands a {
  display:block;
  padding:40px 0;
}


.brands img {
  display:inline-block;
  margin:10px 20px;
  vertical-align:middle;
  height:30px;
}

.footer-clean{
  padding: 30px 0;
}

.footer-clean p{
  margin: 0;
}


.footer-clean a{
  color: #444;
}
.footer-clean__map{
  height: 120px;
}

.footer-clean img{
  margin-left: auto;
  display: block;
  height: 120px;
}

#map{
  height: 100%;
  width: 100%;
}

.about-text h1{
  color: #333;
}

.contact-background{
  background-image: url(/img/water-contact2.jpg);
  background-size: cover;
}


@media (max-width: 768px) {
  .item.social img{
    margin: 0 auto;
    margin-top: 50px;
  }
}
